<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UKPL</display-name>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
      org.apache.commons.fileupload.servlet.FileCleanerCleanup
    </listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>AdminLoginDelegator</display-name>
    <servlet-name>AdminLoginDelegator</servlet-name>
    <servlet-class>delegator.AdminLoginDelegator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginDelegator</servlet-name>
    <url-pattern>/adminLoginDelegator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlbumDelegator</display-name>
    <servlet-name>AlbumDelegator</servlet-name>
    <servlet-class>delegator.AlbumDelegator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumDelegator</servlet-name>
    <url-pattern>/album</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageDelegator</display-name>
    <servlet-name>ImageDelegator</servlet-name>
    <servlet-class>delegator.ImageDelegator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageDelegator</servlet-name>
    <url-pattern>/imagedel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadDelegator</display-name>
    <servlet-name>UploadDelegator</servlet-name>
    <servlet-class>delegator.UploadDelegator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadDelegator</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayerDelegator</display-name>
    <servlet-name>PlayerDelegator</servlet-name>
    <servlet-class>delegator.PlayerDelegator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerDelegator</servlet-name>
    <url-pattern>/player</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeamDelegator</display-name>
    <servlet-name>TeamDelegator</servlet-name>
    <servlet-class>delegator.TeamDelegator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamDelegator</servlet-name>
    <url-pattern>/team</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>test.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>util.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayerImporterServlet</display-name>
    <servlet-name>PlayerImporterServlet</servlet-name>
    <servlet-class>test.PlayerImporterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerImporterServlet</servlet-name>
    <url-pattern>/importer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenericImageServlet</display-name>
    <servlet-name>GenericImageServlet</servlet-name>
    <servlet-class>util.GenericImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericImageServlet</servlet-name>
    <url-pattern>/imgrender</url-pattern>
  </servlet-mapping>
</web-app>